

body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("surfing.jpg");
  -webkit-background-size: cover;
}

body, a:link, a:visited, a:active{
  color: #FF8530;
  text-decoration: none;
}

body, a:hover{
  background-color: #454545;
  color: #FFF;
}

.title{
  font-family: sans-serif;
  background-color: #777;
  float: left;
  background: #303030;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 1px;
  margin-left: 5px;
}

.arrange {
  font-family: sans-serif;
  font-size: .75em;
  padding:5px 12px;
  margin-right: 100px;
  margin-top: 4px;
  float:right;
  background: #303030;
}

.addDancerButton{
  font-family: sans-serif;
  font-size: .75em;
  padding:5px 12px;
  float:right;
  background: #303030;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 4px;
}

.topbar{
  height:32px;
  background-color: #555;
}


.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.leftDancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  left: 50px;
}

.largeDancer{
  border:20px solid blue;
  border-radius:20px;
  position:absolute;

}

.leftLargeDancer{
  border:20px solid blue;
  border-radius:20px;
  position:absolute;
  
}

.nonDancer {
  border: 15px solid green;
  border-radius: 15px;
  position:absolute;
}

.leftNonDancer {
  border: 15px solid green;
  border-radius: 15px;
  position:absolute;
}

#alignLeft {
  /*border: 15px solid yellow;
  border-radius: 15px;*/
  /*position:absolute;
  left: 10px;*/
  left: 40px;
  
}